<div class="card card-w-title">
    <h1 *ngIf="label">{{label}}</h1>
    <ng-content></ng-content>
    <div *ngIf="formGroup" [formGroup]="formGroup" class="ui-g form-group">
        <ng-container *ngFor="let controlKey of formGroup['order']">
            <ng-container *ngIf="formGroup.get(controlKey) && !formGroup.get(controlKey)['hide']">
                <ng-container [ngSwitch]="formGroup.get(controlKey) && formGroup.get(controlKey)['type']">
                    <div class="ui-g-12">
                        <ng-container *ngSwitchCase="'text'">
                            <input [formControlName]="controlKey" [placeholder]="controlKey" pInputText
                                   type="text">
                        </ng-container>
                        <ng-container *ngSwitchCase="'date'">
                            <p-calendar [formControlName]="controlKey" [placeholder]="controlKey"
                                        dateFormat="mm/dd/yy"
                                        id="datetime" showTime="true"></p-calendar>
                        </ng-container>
                        <ng-container *ngSwitchCase="'textarea'">
                                    <textarea [cols]="30" [formControlName]="controlKey" [placeholder]="controlKey"
                                              [rows]="3" autoResize="autoResize" pInputTextarea></textarea>
                        </ng-container>
                        <ng-container *ngSwitchCase="'checkbox'">
                            <p-checkbox [formControlName]="controlKey" [label]="controlKey" binary="true"></p-checkbox>
                        </ng-container>
                        <ng-container *ngSwitchCase="'number'">
                            <input [formControlName]="controlKey" [placeholder]="controlKey" pInputText
                                   type="number">
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <button (click)="submit.emit()" label="submit" pButton></button>
    </div>
</div>
