<div (click)="onLayoutClick()" [class]="topbarColor" [ngClass]="{'layout-horizontal': menuMode === 'horizontal',
    'layout-overlay': menuMode === 'overlay',
    'layout-static': menuMode === 'static',
    'layout-slim': menuMode === 'slim',
    'layout-menu-light': lightMenu === true,
    'layout-menu-dark': lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive}" class="layout-wrapper">
    <app-topbar></app-topbar>
    <app-menu></app-menu>
    <div style="flex-grow: 1; overflow: hidden">
        <p-scrollPanel styleClass="layout-wrapper__inside">
            <div class="layout-main">
                <div [ngStyle]="{ padding: ( appStyleService.asyncPadding | async ) ? '16px' : 'unset' }"
                     class="layout-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div *ngIf="appFooterService.isVisible | async" class="layout-footer">
                <app-footer></app-footer>
            </div>
        </p-scrollPanel>
    </div>
</div>
