.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    ::ng-deep .layout-wrapper__inside {
        width: 100%;
        height: 100%;
        .ui-scrollpanel-content {
            padding-right: 0;
            display: flex;
            flex-direction: column;
            .layout-main {
                padding-top: unset;
                flex-grow: 1;
                .layout-content {
                    padding: 0;
                    height: 100%;
                }
            }
            .layout-footer {
                flex-grow: 0;
            }
        }
    }
}
