<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <button pButton (click)="deleteShopItem()" label="Удалить товар"></button>
        <app-u-form [formGroup]="shopItemForm" (submit)="submit()" [label]="id ? 'id: ' + id : 'Новый'"></app-u-form>
    </div>
    <div class="ui-g-12 ui-lg-6" *ngIf="id">
        <app-upload-file uploadModel="shopItem" [id]="id" [multiple]="true" (uploaded)="getShopItem()"></app-upload-file>
    </div>
    <div class="ui-g-12 ui-lg-6" *ngIf="shopItemImages.length > 0">
        <img [src]="item.url" *ngFor="let item of shopItemImages" style="width: 150px" (click)="deleteImage(item)">
    </div>
</div>
