:host {
    .layout-topbar {
        position: relative;
        .layout-menu-button {
            margin-left: 0;
        }
        .layout-topbar-logo {
            margin-left: 35px;
        }
    }
}
