<div class="layout-topbar">
    <a (click)="app.onMenuButtonClick($event)" class="layout-menu-button" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <a class="layout-topbar-logo" href="#">
        <img id="topbar-logo" src="assets/layout/images/logo-olympia-white.png">
    </a>
    <a (click)="app.onTopbarMenuButtonClick($event)" class="layout-topbar-user" href="#">
        <img alt="olympia-layout" src="assets/layout/images/avatar.png"/>
    </a>
    <ul [ngClass]="{'layout-topbar-usermenu-active fadeInDown': app.topbarMenuActive}" class="layout-topbar-usermenu">
        <li class="layout-topbar-usermenu-header">
            <img alt="olympia-layout" src="assets/layout/images/avatar.png"/>
            <div class="layout-topbar-usermenu-info">
                <div class="layout-topbar-usermenu-name">Jane Watson</div>
                <div class="layout-topbar-usermenu-role">Administrator</div>
            </div>
        </li>
        <li>
            <a (click)="app.onTopbarSubItemClick($event)" href="#">
                <i class="fa fa-fw fa-user"></i>
                <span class="topbar-item-name">Profile</span>
            </a>
        </li>
        <li #settings>
            <a href="#">
                <i class="fa fa-fw fa-cog"></i>
                <span class="topbar-item-name">Settings</span>
            </a>
        </li>
        <li #messages>
            <a href="#">
                <i class="fa fa-fw fa-envelope-o"></i>
                <span class="topbar-item-name">Messages</span>
            </a>
        </li>
        <li #notifications>
            <a href="#">
                <i class="fa fa-fw fa-bell-o"></i>
                <span class="topbar-item-name">Notifications</span>
            </a>
        </li>
    </ul>
    <ul class="layout-topbar-icons">
        <li class="layout-topbar-search-item">
            <div class="layout-topbar-search">
                <i class="fa fa-search"></i>
                <input placeholder="Search" type="text"/>
            </div>
        </li>
<!--        <li>-->
<!--            <a class="layout-topbar-icon-purple" href="#">-->
<!--                <i class="fa fa-file-o"></i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="layout-topbar-icon-yellow" href="#">-->
<!--                <i class="fa fa-paper-plane-o"></i>-->
<!--            </a>-->
<!--        </li>-->
        <li>
            <a class="layout-topbar-icon-green" href="#">
                <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
