<div class="login-body">
    <div [formGroup]="form" class="login-panel">
        <h1>Регистрация в системе</h1>
        <!--<p>Welcome, please use the form to sign-in.</p>-->
        <div class="input-wrapper">
            <label for="email">Электронная почта</label>
            <input autocomplete="off" class="ui-inputtext ui-widget" formControlName="email" id="email" type="text">
        </div>
        <div class="input-wrapper">
            <label for="password">Пароль</label>
            <input autocomplete="off" class="ui-inputtext ui-widget" formControlName="password"
                   id="password" type="password">
        </div>
        <div class="input-wrapper">
            <label for="password">Повторите пароль</label>
            <input autocomplete="off" class="ui-inputtext ui-widget" formControlName="passwordConfirm"
                   id="passwordConfirm" type="password">
        </div>
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" (click)="submit()">
            <span class="ui-button-text ui-c">Зарегистрироваться</span>
        </button>
        <div class="separator"></div>
    </div>
</div>
