<div class="ui-g">
    <div class="ui-g-12">
        <div class="card docs no-margin">

            <h1>Current Version</h1>
            <p>Angular 9 and PrimeNG 9</p>

            <h1>Dependencies</h1>
            <p>Olympia has no direct dependency other than PrimeNG. More information about dependencies is available at <a href="https://www.primefaces.org/why-primeng-templates/">Why PrimeNG Templates</a> article.</p>

            <h1>Getting Started</h1>
            <p>Olympia is a true native application template for Angular and is distributed as a CLI project. In case CLI is not installed already, use
                the command below to set it up.
            </p>

<pre class="doc-command">
npm install -g @angular/cli
</pre>

            <p>Once CLI is ready in your system, extract the contents of the Olympia zip file distribution, cd to the directory,
            install the libraries from npm and then execute "ng serve" to run the application in your local environment.</p>
<pre class="doc-command">
cd Olympia
npm install
ng serve
</pre>

            <p>The application should run at http://localhost:4200/, you may now start with the development of your application.</p>

            <h1>Important CLI Commands</h1>
            <p>Following commands are derived from CLI.</p>
<pre class="doc-command">
Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.
</pre>

            <h1>Structure</h1>
            <p>Olympia consists of 3 main parts; the application layout, layout resources and theme resources for PrimeNG components. <i>app.component.html</i> inside app folder is the html template for the base layout,
                required resources for the layout are placed inside the <i>src/assets/layout</i> folder and similarly theme resources are inside <i>src/assets/theme</i> folder.
            </p>

            <h1>Template</h1>
            <p>Main layout is the html template of the app.component.ts, it is divided into a couple of sections such as topbar, sidebar and footer. Here is the code for
                the main template. The component class app.component.ts implements the logic such as opening menus and managing layout modes.
            </p>
<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper" [ngClass]="&#123;'layout-horizontal': menuMode === 'horizontal',
            'layout-overlay': menuMode === 'overlay',
            'layout-static': menuMode === 'static',
            'layout-slim': menuMode === 'slim',
            'layout-menu-light': lightMenu === true,
            'layout-menu-dark': lightMenu === false,
            'layout-overlay-active': overlayMenuActive,
            'layout-mobile-active': staticMenuMobileActive,
            'layout-static-inactive': staticMenuDesktopInactive&#125;"
            [class]="topbarColor" (click)="onLayoutClick()"&gt;
    &lt;app-topbar&gt;&lt;/app-topbar&gt;

    &lt;app-menu&gt;&lt;/app-menu&gt;

    &lt;div class="layout-main"&gt;
        &lt;div class="layout-content"&gt;
            &lt;router-outlet&gt;&lt;/router-outlet&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="layout-footer"&gt;
        &lt;app-footer&gt;&lt;/app-footer&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code>
</pre>

            <h1>Menu</h1>
            <p>Menu is a separate component defined in app.menu.component.ts file based on PrimeNG MenuModel API. In order to define the menuitems,
            navigate to this file and define your own model as a nested structure. Here is the menu component from the sample application.</p>

<div style="height:400px;overflow: auto;">
<pre>
<code class="language-javascript" pCode>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; AppComponent &#125; from './app.component';

@Component(&#123;
    selector: 'app-menu',
    templateUrl: './app.menu.component.html'
&#125;)
export class AppMenuComponent implements OnInit, AfterViewInit &#123;
    model: any[];

    @ViewChild('layoutMenuScroller') layoutMenuScrollerViewChild: ScrollPanel;

    constructor(public app: AppComponent) &#123; &#125;

    ngOnInit() &#123;
        this.model = [
            &#123; label: 'DASHBOARD', icon: 'fa fa-fw fa-dashboard', routerLink: ['/']&#125;,
            &#123;
                label: 'TOPBAR COLORS', icon: 'fa fa-fw fa-magic', badge: 10,
                items: [
                    &#123;
                        label: 'Light', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-light', 'logo-olympia')
                    &#125;,
                    &#123;
                        label: 'Dark', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-dark', 'logo-olympia-white')
                    &#125;,
                    &#123;
                        label: 'Blue-Grey', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-bluegrey', 'logo-olympia-white')
                    &#125;,
                    &#123;
                        label: 'Purple', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-purple', 'logo-olympia-white')
                    &#125;,
                    &#123;
                        label: 'Cyan', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-cyan', 'logo-olympia-white')
                    &#125;,
                    &#123;
                        label: 'Pink', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-pink', 'logo-olympia-white')
                    &#125;,
                    &#123;
                        label: 'Teal', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-teal', 'logo-olympia-white')
                    &#125;,
                    &#123;
                        label: 'Yellow', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-yellow', 'logo-olympia')
                    &#125;,
                    &#123;
                        label: 'Lime', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-lime', 'logo-olympia')
                    &#125;,
                    &#123;
                        label: 'Green', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTopbarColor('layout-topbar-green', 'logo-olympia')
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'MENU COLORS', icon: 'fa fa-fw fa-list',
                items: [
                    &#123; label: 'Light', icon: 'fa fa-fw fa-circle-o', command: event => this.app.lightMenu = true &#125;,
                    &#123; label: 'Dark', icon: 'fa fa-fw fa-circle', command: event => this.app.lightMenu = false &#125;
                ]
            &#125;,
            &#123;
                label: 'LAYOUTS', icon: 'fa fa-fw fa-desktop',
                items: [
                    &#123; label: 'Static', icon: 'fa fa-fw fa-bars', command: event => this.app.changeMenuMode('static') &#125;,
                    &#123; label: 'Overlay', icon: 'fa fa-fw fa-bars', command: event => this.app.changeMenuMode('overlay') &#125;,
                    &#123; label: 'Slim', icon: 'fa fa-fw fa-bars', command: event => this.app.changeMenuMode('slim') &#125;,
                    &#123; label: 'Horizontal', icon: 'fa fa-fw fa-bars', command: event => this.app.changeMenuMode('horizontal') &#125;
                ]
            &#125;,
            &#123;
                label: 'THEMES', icon: 'fa fa-fw fa-paint-brush', badge: 10,
                items: [
                    &#123;
                        label: 'Blue-Grey Teal', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('bluegrey-teal')
                    &#125;,
                    &#123;
                        label: 'Green Yellow', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('green-yellow')
                    &#125;,
                    &#123;
                        label: 'Purple Blue', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('purple-blue')
                    &#125;,
                    &#123;
                        label: 'Blue Orange', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('blue-orange')
                    &#125;,
                    &#123;
                        label: 'Indigo Yellow', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('indigo-yellow')
                    &#125;,
                    &#123;
                        label: 'Amber Teal', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('amber-teal')
                    &#125;,
                    &#123;
                        label: 'Cyan Amber', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('cyan-amber')
                    &#125;,
                    &#123;
                        label: 'Brown Cyan', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('brown-cyan')
                    &#125;,
                    &#123;
                        label: 'Lime Purple', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('lime-purple')
                    &#125;,
                    &#123;
                        label: 'Deep-Orange Blue', icon: 'fa fa-fw fa-paint-brush',
                        command: (event) => this.changeTheme('deeporange-blue')
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'COMPONENTS', icon: 'fa fa-fw fa-bars', routerLink: ['/components'],
                items: [
                    &#123; label: 'Sample Page', icon: 'fa fa-fw fa-columns', routerLink: ['/components/sample']  &#125;,
                    &#123; label: 'Forms', icon: 'fa fa-fw fa-code', routerLink: ['/components/forms'] &#125;,
                    &#123; label: 'Data', icon: 'fa fa-fw fa-table', routerLink: ['/components/data'] &#125;,
                    &#123; label: 'Panels', icon: 'fa fa-fw fa-list-alt', routerLink: ['/components/panels'] &#125;,
                    &#123; label: 'Overlays', icon: 'fa fa-fw fa-square', routerLink: ['/components/overlays'] &#125;,
                    &#123; label: 'Menus', icon: 'fa fa-fw fa-minus-square-o', routerLink: ['/components/menus'] &#125;,
                    &#123; label: 'Messages', icon: 'fa fa-fw fa-circle-o-notch', routerLink: ['/components/messages'] &#125;,
                    &#123; label: 'Charts', icon: 'fa fa-fw fa-area-chart', routerLink: ['/components/charts'] &#125;,
                    &#123; label: 'File', icon: 'fa fa-fw fa-arrow-circle-o-up', routerLink: ['/components/file'] &#125;,
                    &#123; label: 'Misc', icon: 'fa fa-fw fa-user-secret', routerLink: ['/components/misc'] &#125;
                ]
            &#125;,
            &#123;
                label: 'PAGES', icon: 'fa fa-fw fa-cube', routerLink: ['/pages'],
                items: [
                    &#123; label: 'Empty', icon: 'fa fa-fw fa-square-o', routerLink: ['/pages/empty'] &#125;,
                    &#123; label: 'Login', icon: 'fa fa-fw fa-sign-in', url: 'assets/pages/login.html', target: '_blank' &#125;,
                    &#123; label: 'Landing', icon: 'fa fa-fw fa-certificate', url: 'assets/pages/landing.html', target: '_blank' &#125;,
                    &#123; label: 'Error', icon: 'fa fa-fw fa-exclamation-circle', url: 'assets/pages/error.html', target: '_blank' &#125;,
                    &#123; label: '404', icon: 'fa fa-fw fa-times', url: 'assets/pages/404.html', target: '_blank' &#125;,
                    &#123;
                        label: 'Access Denied', icon: 'fa fa-fw fa-exclamation-triangle',
                        url: 'assets/pages/access.html', target: '_blank'
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'HIERARCHY', icon: 'fa fa-fw fa-sitemap',
                items: [
                    &#123;
                        label: 'Submenu 1', icon: 'fa fa-fw fa-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 1.1', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123; label: 'Submenu 1.1.1', icon: 'fa fa-fw fa-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.1.2', icon: 'fa fa-fw fa-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.1.3', icon: 'fa fa-fw fa-sign-in' &#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 1.2', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123; label: 'Submenu 1.2.1', icon: 'fa fa-fw fa-sign-in' &#125;
                                ]
                            &#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Submenu 2', icon: 'fa fa-fw fa-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 2.1', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123; label: 'Submenu 2.1.1', icon: 'fa fa-fw fa-sign-in' &#125;,
                                    &#123; label: 'Submenu 2.1.2', icon: 'fa fa-fw fa-sign-in' &#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 2.2', icon: 'fa fa-fw fa-sign-in',
                                items: [
                                    &#123; label: 'Submenu 2.2.1', icon: 'fa fa-fw fa-sign-in' &#125;,
                                ]
                            &#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'DOCS', icon: 'fa fa-fw fa-file-code-o', routerLink: ['/documentation']
            &#125;,
            &#123;
                label: 'BUY NOW', icon: 'fa fa-fw fa-credit-card-alt', url: ['https://www.primefaces.org/store']
            &#125;
        ];
    &#125;

&#125;
</code>
</pre>
</div>

            <h1>Integration with an Existing CLI Project</h1>
            <p>To setup Olympia in an existing project, follow the steps below;</p>

<ul>
    <li>Copy the <i>src/assets</i> folder to your projects folder with the same name</li>
    <li>Copy all app.* files and breadcrumb.service.ts to the src/app folder of your application.</li>
</ul>

          <p>Install PrimeNG</p>
<pre class="doc-command">
npm install primeng@latest --save
npm install primeicons@latest --save
</pre>

          <p>Add PrimeNG CSS at styles section in angular.json.</p>

<pre>
<code class="language-json" pCode>
"styles": [
    "../node_modules/primeng/resources/primeng.min.css",        //required: PrimeNG components
    "node_modules/primeicons/primeicons.css",                   //required: PrimeIcons
    "styles.scss"                                               //your styles and overrides
],
</code>
</pre>

            <p>Last part is adding theme and layout css files, in the CLI app they are defined using link tags in index.html so the demo can switch them on
            the fly by changing the path however if this is not a requirement, you may also add them to the styles configuration above so they go inside the bundle.</p>

            <h1>Theme</h1>
            <p>Olympia provides 10 PrimeNG themes out of the box. Setup of a theme is simple by including the css of theme
                to your bundle that are located inside assets/theme folder such as assets/theme/theme-amber-teal.css.</p>

            <ul>
                <li>amber-teal</li>
                <li>blue-orange</li>
                <li>bluegrey-teal</li>
                <li>brown-cyan</li>
                <li>cyan-amber</li>
                <li>deeporange-blue</li>
                <li>green-yellow</li>
                <li>indigo-yellow</li>
                <li>lime-purple</li>
                <li>purple-blue</li>
            </ul>

            <p>A custom theme can be developed by the following steps.</p>
            <ul>
                <li>Choose a custom theme name such as "mytheme".</li>
                <li>Create a folder named "mytheme" under <i>assets/theme folder</i>.</li>
                <li>Create a file such as theme.scss under <i>assets/theme/mytheme folder</i>.</li>
                <li>Define the variables listed below in your file and import the <i>../../sass/theme/_theme.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Include the generated theme.css to your page.</li>
            </ul>

            <p>Here are the variables required to create a theme.</p>
<pre>
<code class="language-css" pCode>
//shades
$primaryColor100:#e3f8f3;
$primaryColor200:#d8efe9;
$primaryColor300:#c0e2d9;
$primaryColor400:#6eceb7;
$primaryColor500:#61b5a1;
$primaryColor600:#23594c;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#feedbc;
$highlightBgColorDark:#ffde7a;
$highlightColorText:#4c4224;

@import '../sass/theme/_theme';
</code>
</pre>

            <p> An example sass command to compile the css would be;</p>

<pre class="doc-command">
sass src/assets/theme/mytheme/theme.scss src/assets/theme/mytheme/theme.css
</pre>

            <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
            so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre class="doc-command">
sass --watch src/:src/ --no-source-map
</pre>

            <p>Same can also be applied to layout itself;</p>
            <ul>
                <li>Choose a layout name such as layout-myown.</li>
                <li>Create an empty file named layout-myown.scss inside <i>assets/layout/css</i> folder.</li>
                <li>Define the variables listed below and import the <i>/sass/layout/_layout.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Serve the css by importing it using a link tag or a bundler.</li>
            </ul>

            <p>Here are the variables required to create a layout.</p>
<pre>
<code class="language-css" pCode>
$primaryColor:#e3f8f3;
$primaryTextColor:#61b5a1;

@import '../../sass/layout/_layout';
</code>
</pre>

            <h1>Common SASS Variables</h1>
            <p>In case you'd like to customize the shared variables, the _variables.scss files are where the options are defined for both layout and theme.</p>

<h3>sass/_variables.scss</h3>
<pre>
<code class="language-css" pCode>
$fontFamily:'Lato',sans-serif;
$fontSize:14px;
$textColor:#666666;
$textSecondaryColor:#a6a6a6;
$borderRadius:2px;
$transitionDuration:.2s;
</code>
</pre>

<h3>sass/layout/_variables</h3>
<div style="height:400px;overflow: auto;">
<pre>
<code class="language-css" pCode>
@import '../_variables';

$primeIconFontSize:1.143em;

//anchor
$linkColor:$primaryColor400;
$linkHoverColor:$primaryColor500;
$linkActiveColor:$primaryColor600;

//input field
$inputPadding:.429em;
$inputBgColor:#f4f4f4;
$inputBorder:1px solid #dadada;
$inputHoverBorderColor:#a6a6a6;
$inputFocusBorderColor:$primaryColor500;
$inputErrorBorderColor:#e7a3a3;
$inputPlaceholderTextColor:#a6a6a6;
$inputFocusShadow:0 0 4px 0 #d8efe9;
$inputTransition:border-color $transitionDuration,box-shadow $transitionDuration;

//groups
$inputGroupBorderColor:#dadada;
$inputGroupBgColor:#dbdbdb;
$inputGroupTextColor:$textColor;

//input lists
$inputListMinWidth:12em;
$inputListBgColor:#ffffff;
$inputListPadding:0;

$inputListItemPadding:0.429em 0.857em;
$inputListItemBgColor:transparent;
$inputListItemTextColor:$textColor;
$inputListItemHoverBgColor:#f4f4f4;
$inputListItemHoverTextColor:$textColor;
$inputListItemHighlightBgColor:$highlightBgColor;
$inputListItemHighlightTextColor:$highlightColorText;
$inputListItemBorder:0 none;
$inputListItemMargin:0;
$inputListItemDividerColor:#dadada;

$inputListHeaderPaddingTop:0.429em;
$inputListHeaderPaddingLeft:0.857em;
$inputListHeaderPaddingRight:0.857em;
$inputListHeaderPaddingBottom:0.429em;
$inputListHeaderBgColor:#ffffff;
$inputListHeaderTextColor:$textColor;
$inputListHeaderBorder:1px solid #eaeaea;
$inputListHeaderMargin:0;

$inputListHeaderSearchIconColor:$textSecondaryColor;
$inputListHeaderCloseIconColor:$textColor;
$inputListHeaderCloseIconHoverColor:$primaryColor500;
$inputListHeaderCloseIconTransition:color $transitionDuration;

//inputs with panels (e.g. password)
$inputContentPanelPadding:.857em;
$inputContentPanelBgColor:#ffffff;
$inputContentPanelTextColor:$textColor;

//inputs with overlays
$inputOverlayBorder:0 none;
$inputOverlayShadow:0 0 6px 0 rgba(0, 0, 0, 0.16);

//input dropdowns
$inputDropdownIconColor:$textColor;

//button
$buttonTextOnlyPadding:0.429em 1em;
$buttonWithLeftIconPadding:0.429em 1em 0.429em 2em;
$buttonWithRightIconPadding:0.429em 2em 0.429em 1em;
$buttonIconOnlyPadding:0.429em;
$buttonIconOnlyWidth:2.143em;

$buttonBgColor:$primaryColor100;
$buttonBorder:1px solid $primaryColor200;
$buttonTextColor:$primaryColor600;

$buttonHoverBgColor:$primaryColor200;
$buttonHoverTextColor:$primaryColor600;
$buttonHoverBorderColor:$primaryColor300;

$buttonActiveBgColor:$primaryColor500;
$buttonActiveTextColor:#ffffff;
$buttonActiveBorderColor:$primaryColor300;

$buttonFocusOutline:0 none;
$buttonFocusOutlineOffset:0;
$buttonFocusBorderColor:$primaryColor500;
$buttonTransition:background-color $transitionDuration;
$raisedButtonShadow:0 2px 4px 0 rgba(0, 0, 0, 0.10);
$roundedButtonBorderRadius:1em;

$secondaryButtonBgColor:#f3f3f3;
$secondaryButtonBorder:1px solid #f3f3f3;
$secondaryButtonTextColor:#333333;
$secondaryButtonHoverBgColor:#d1d1d1;
$secondaryButtonHoverTextColor:#212121;
$secondaryButtonHoverBorderColor:#d1d1d1;
$secondaryButtonActiveBgColor:$primaryColor;
$secondaryButtonActiveTextColor:#ffffff;
$secondaryButtonActiveBorderColor:$primaryColor;

$warningButtonBgColor:#FEEDBC;
$warningButtonTextColor:#333333;
$warningButtonBorder:1px solid #F7DB8A;
$warningButtonHoverBgColor:#FFDE87;
$warningButtonHoverTextColor:#333333;
$warningButtonHoverBorderColor:#F3CE61;
$warningButtonActiveBgColor:#FDC328;
$warningButtonActiveTextColor:#333333;
$warningButtonActiveBorderColor:#DEA818;

$successButtonBgColor:#A3E2C6;
$successButtonTextColor:#323E39;
$successButtonBorder:1px solid #80CAAA;
$successButtonHoverBgColor:#80CAAA;
$successButtonHoverTextColor:#323E39;
$successButtonHoverBorderColor:#5EA285;
$successButtonActiveBgColor:#31B57C;
$successButtonActiveTextColor:#ffffff;
$successButtonActiveBorderColor:#5EA285;

$infoButtonBgColor:#A3DEF8;
$infoButtonTextColor:#3D4447;
$infoButtonBorder:1px solid #79C8EB;
$infoButtonHoverBgColor:#81CBEC;
$infoButtonHoverTextColor:#3D4447;
$infoButtonHoverBorderColor:#60B7DE;
$infoButtonActiveBgColor:#3ea9db;
$infoButtonActiveTextColor:#ffffff;
$infoButtonActiveBorderColor:#2987B1;

$dangerButtonBgColor:#F4B6B6;
$dangerButtonTextColor:#262222;
$dangerButtonBorder:1px solid #E38787;
$dangerButtonHoverBgColor:#EF9999;
$dangerButtonHoverTextColor:#262222;
$dangerButtonHoverBorderColor:#CB5858;
$dangerButtonActiveBgColor:#EB5656;
$dangerButtonActiveTextColor:#ffffff;
$dangerButtonActiveBorderColor:#B73737;

//checkbox
$checkboxWidth:20px;
$checkboxHeight:20px;
$checkboxActiveBorderColor:$primaryColor;
$checkboxActiveBgColor:$primaryColor;
$checkboxActiveHoverBgColor:$primaryColor400;
$checkboxActiveTextColor:#ffffff;
$checkboxActiveHoverTextColor:#ffffff;
$checkboxActiveHoverBorderColor:$primaryColor;
$checkboxActiveFocusBgColor:$primaryColor;
$checkboxActiveFocusTextColor:#ffffff;
$checkboxActiveFocusBorderColor:$primaryColor;
$checkboxFocusBgColor:$inputBgColor;
$checkboxFocusTextColor:$textSecondaryColor;
$checkboxFocusBorderColor:$inputBorder;
$checkboxTransition:background-color $transitionDuration, border-color $transitionDuration;

//radiobutton
$radiobuttonWidth:20px;
$radiobuttonHeight:20px;
$radiobuttonActiveBorderColor:$primaryColor500;
$radiobuttonActiveBgColor:$primaryColor500;
$radiobuttonActiveTextColor:#ffffff;
$radiobuttonActiveHoverBgColor:$primaryColor400;
$radiobuttonActiveHoverTextColor:#ffffff;
$radiobuttonActiveHoverBorderColor:$primaryColor500;
$radiobuttonActiveFocusBgColor:$primaryColor500;
$radiobuttonActiveFocusTextColor:#ffffff;
$radiobuttonActiveFocusBorderColor:$primaryColor500;
$radiobuttonFocusBgColor:$inputBgColor;
$radiobuttonFocusTextColor:$textSecondaryColor;
$radiobuttonFocusBorderColor:$primaryColor500;
$radiobuttonTransition:background-color $transitionDuration, border-color $transitionDuration;

//togglebutton
$toggleButtonBgColor:#eaeaea;
$toggleButtonBorder:1px solid #eaeaea;
$toggleButtonTextColor:#333333;
$toggleButtonIconColor:#666666;
$toggleButtonHoverBgColor:#c8c8c8;
$toggleButtonHoverBorderColor:#c8c8c8;
$toggleButtonHoverTextColor:#333333;
$toggleButtonHoverIconColor:#666666;
$toggleButtonActiveBgColor:$highlightBgColor;
$toggleButtonActiveBorderColor:$highlightBgColor;
$toggleButtonActiveTextColor:$highlightColorText;
$toggleButtonActiveIconColor:$highlightColorText;
$toggleButtonActiveHoverBgColor:$highlightBgColorDark;
$toggleButtonActiveHoverBorderColor:$highlightBgColorDark;
$toggleButtonActiveHoverTextColor:$highlightColorText;
$toggleButtonActiveHoverIconColor:$highlightColorText;
$toggleButtonFocusOutline:0 none;
$toggleButtonFocusBgColor:#eaeaea;
$toggleButtonFocusBorderColor:$inputFocusBorderColor;
$toggleButtonFocusTextColor:#333333;
$toggleButtonFocusIconColor:#666666;
$toggleButtonActiveFocusBgColor:$toggleButtonActiveBgColor;
$toggleButtonActiveFocusBorderColor:$toggleButtonFocusBorderColor;
$toggleButtonActiveFocusTextColor:$toggleButtonActiveTextColor;
$toggleButtonActiveFocusIconColor:$toggleButtonActiveIconColor;

//inplace
$inplacePadding:.429em;
$inplaceHoverBgColor:#f4f4f4;
$inplaceHoverTextColor:$textColor;
$inplaceTransition:background-color $transitionDuration;

//rating
$ratingTransition:color $transitionDuration;
$ratingCancelIconColor:#f3b9b9;
$ratingCancelHoverIconColor:#d66161;
$ratingIconFontSize:1.429em;
$ratingStarIconColor:$textColor;
$ratingStarIconHoverColor:$primaryColor600;
$ratingStarActiveIconColor:$primaryColor500;

//slider
$sliderBgColor:#c4c4c4;
$sliderBorder:0 none;
$sliderHeight:.286em;
$sliderWidth:.286em;
$sliderHandleWidth:1.429em;
$sliderHandleHeight:1.429em;
$sliderHandleBgColor:#ffffff;
$sliderHandleBorder:2px solid #7f7f7f;
$sliderHandleHoverBorder:2px solid $primaryColor;
$sliderHandleHoverBgColor:2px solid #7f7f7f;
$sliderHandleFocusBorder:2px solid $primaryColor;
$sliderHandleFocusBgColor:$primaryColor;
$sliderHandleBorderRadius:50%;
$sliderHandleTransition:background-color $transitionDuration;
$sliderRangeBgColor:$primaryColor;

//calendar
$calendarWidth:18.571em;
$calendarNavIconColor:#3F4040;
$calendarNavIconColor:$textSecondaryColor;
$calendarNavIconHoverColor:$textColor;
$calendarPadding:0.857em;
$calendarTableMargin:0.857em 0 0 0;
$calendarCellPadding:0.286em;
$calendarCellDatePadding:0.286em;
$calendarCellDateWidth:1.714em;
$calendarCellDateHeight:1.714em;
$calendarCellDateBorder:1px solid transparent;
$calendarCellDateHoverBgColor:#f4f4f4;
$calendarCellDateHoverBorder:1px solid #a6a6a6;
$calendarCellDateBorderRadius:$borderRadius;
$calendarCellDateSelectedBgColor:$primaryColor;
$calendarCellDateSelectedTextColor:#ffffff;
$calendarCellDateSelectedBorder:1px solid $primaryColor300;
$calendarCellDateTodayBgColor:$primaryColor100;
$calendarCellDateTodayTextColor:$primaryColor600;
$calendarCellDateTodayBorder:1px solid $primaryColor200;
$calendarTimePickerDivider: 1px solid #a6a6a6;
$calendarTimePickerPadding:0.857em;
$calendarTimePickerIconColor:$textColor;
$calendarTimePickerIconFontSize:1.286em;
$calendarTimePickerTimeFontSize:1.286em;
$calendarTimePickerIconHoverColor:$textColor;
$calendarNavIconTransition:$transitionDuration;

//spinner
$spinnerButtonWidth:1.429em;

//input switch
$inputSwitchWidth:34px;
$inputSwitchHeight:14px;
$inputSwitchBorderRadius:8px;
$inputSwitchTransition:background-color $transitionDuration;
$inputSwitchSliderOffBgColor:$inputBgColor;
$inputSwitchHandleOffBgColor:$textColor;
$inputSwitchSliderOffHoverBgColor:$inputBgColor;
$inputSwitchSliderOffFocusBgColor:$inputBgColor;
$inputSwitchSliderOnBgColor:$primaryColor100;
$inputSwitchSliderOnHoverBgColor:$primaryColor100;
$inputSwitchHandleOnBgColor:$primaryColor500;
$inputSwitchSliderOnFocusBgColor:$primaryColor100;
$inputSwitchHandleOffFocusBgColor:$textSecondaryColor;
$inputSwitchHandleonFocusBgColor:$primaryColor400;

//panel common
$panelHeaderBorder:1px solid $primaryColor200;
$panelHeaderBgColor:$primaryColor100;
$panelHeaderTextColor:$primaryColor600;
$panelHeaderIconColor:$textColor;
$panelHeaderIconHoverColor:$primaryColor500;
$panelHeaderIconTransition:color $transitionDuration;
$panelHeaderFontWeight:400;
$panelHeaderPadding:.857em 1em;
$panelContentBorder:1px solid #dadada;
$panelContentBgColor:#ffffff;
$panelContentTextColor:$textColor;
$panelContentPadding:.571em 1em;
$panelFooterBorder:1px solid #dadada;
$panelFooterBgColor:#ffffff;
$panelFooterTextColor:$textColor;
$panelFooterPadding:.571em 1em;
$panelHeaderHoverBgColor:#f4f4f4;
$panelHeaderHoverBorder:1px solid #c8c8c8;
$panelHeaderHoverTextColor:$textColor;
$panelHeaderHoverIconColor:$textColor;
$panelHeaderActiveBgColor:$highlightBgColor;
$panelHeaderActiveBorder:1px solid #dadada;
$panelHeaderActiveTextColor:$highlightColorText;
$panelHeaderActiveIconColor:$highlightColorText;
$panelHeaderActiveHoverBgColor:$highlightBgColorDark;
$panelHeaderActiveHoverBorder:1px solid $highlightBgColorDark;
$panelHeaderActiveHoverTextColor:$highlightColorText;
$panelHeaderActiveHoverIconColor:$highlightColorText;
$panelHeaderTransition:$transitionDuration;

//accordion
$accordionSpacing:2px;

//tabview
$tabHeaderSpacing:.214em;
$tabsNavBorder:0 none;
$tabsNavBgColor:#ffffff;

//scrollpanel
$scrollPanelHandleBgColor:#dadada;
$scrollPanelTrackBorder:0 none;
$scrollPanelTrackBgColor:#f8f8f8;

//paginator
$paginatorBgColor:#ffffff;
$paginatorBorder:1px solid #dadada;
$paginatorIconColor:$textColor;
$paginatorPadding:.25em 0;
$paginatorElementPadding:.25em 0;
$paginatorElementWidth:2.286em;
$paginatorElementHeight:2.286em;
$paginatorElementHoverBgColor:#f4f4f4;
$paginatorElementHoverIconColor:$textColor;
$paginatorElementMargin:0 .125em;
$paginatorElementBorder:1px solid transparent;
$paginatorElementBorderRadius:$borderRadius;

//table
$tableHeaderCellPadding:.500em 1.214em;
$tableHeaderCellBgColor:#ffffff;
$tableHeaderCellTextColor:$textColor;
$tableHeaderCellFontWeight:700;
$tableHeaderCellBorder:1px solid #dadada;
$tableHeaderCellHoverBgColor:#eaeaea;
$tableHeaderCellHoverTextColor:$textColor;
$tableBodyRowBgColor:#ffffff;
$tableBodyRowTextColor:$textColor;
$tableBodyRowEvenBgColor:#f8f8f8;
$tableBodyRowHoverBgColor:#eaeaea;
$tableBodyRowHoverTextColor:#333333;
$tableBodyCellPadding:.500em 1.214em;
$tableBodyCellBorder:1px solid #dadada;
$tableFooterCellPadding:.500em 1.214em;
$tableFooterCellBgColor:#ffffff;
$tableFooterCellTextColor:$textColor;
$tableFooterCellFontWeight:500;
$tableFooterCellBorder:1px solid #dadada;
$tableResizerHelperBgColor:$primaryColor;

//schedule
$scheduleEventBgColor:$highlightBgColor;
$scheduleEventBorder:1px solid $highlightBgColorDark;
$scheduleEventTextColor:$highlightColorText;

//tree
$treeNodePadding:0.143em 0;
$treeNodeLabelPadding:0.286em;
$treeNodeContentSpacing:0.143em;

//lightbox
$lightBoxNavIconFontSize:3em;
$lightBoxNavIconColor:#ffffff;

//org chart
$organizationChartConnectorColor:#c8c8c8;

//messages
$messagesMargin:1em 0;
$messagesPadding:1em;
$messagesIconFontSize:1.714em;
$messageCloseIconFontSize:1.5em;

$infoMessageBgColor:#93decc;
$infoMessageBorder:1px solid #93decc;
$infoMessageTextColor:#212121;
$infoMessageIconColor:#212121;

$successMessageBgColor:#A3E2C6;
$successMessageBorder:1px solid #A3E2C6;
$successMessageTextColor:#212121;
$successMessageIconColor:#212121;

$warnMessageBgColor:#ffe277;
$warnMessageBorder:1px solid #ffe277;
$warnMessageTextColor:#212121;
$warnMessageIconColor:#212121;

$errorMessageBgColor:#ff8b8b;
$errorMessageBorder:1px solid #ff8b8b;
$errorMessageTextColor:#212121;
$errorMessageIconColor:#212121;

//growl
$growlTopLocation:120px;
$growlIconFontSize:3.429em;
$growlMessageTextMargin: 0 0 0 4em;
$growlMargin:0 0 1em 0;
$growlPadding:1em;
$growlShadow:0 3px .429em 0 rgba(0, 0, 0, 0.16);
$growlOpacity:.9;

//message
$messagePadding:$inputPadding;
$messageMargin:0;
$messageIconFontSize:1.714em;
$messageTextFontSize:$fontSize;

//overlays
$overlayContentBorder:1px solid #f1f1f1;
$overlayContentBorderColor:#f1f1f1;
$overlayContainerShadow:0 0 6px 0 rgba(0, 0, 0, 0.16);

//overlay panel
$overlayPanelCloseIconBgColor:$primaryColor200;
$overlayPanelCloseIconColor:$primaryColor600;
$overlayPanelCloseIconHoverBgColor:$primaryColor300;
$overlayPanelCloseIconHoverColor:$primaryColor600;

//tooltip
$tooltipBgColor:$highlightBgColor;
$tooltipTextColor:$highlightColorText;
$tooltipPadding:$inputPadding;

//steps
$stepsItemBgColor:#ffffff;
$stepsItemBorder:1px solid #c8c8c8;
$stepsItemNumberColor:$textSecondaryColor;
$stepsItemTextColor:$textSecondaryColor;
$stepsItemWidth:2em;
$stepsItemHeight:2em;

//progressbar
$progressBarHeight:1.714em;
$progressBarBorder:0 none;
$progressBarBgColor:#efefef;
$progressBarValueBgColor:$primaryColor;

//menu
$menuBgColor:#ffffff;
$menuBorder:1px solid #c8c8c8;
$menuPadding:0;
$menuTextColor:$textColor;
$menuitemPadding:.571em .857em;
$menuitemMargin:0;
$menuitemTextColor:$textColor;
$menuitemIconColor:$textColor;
$menuitemHoverTextColor:$textColor;
$menuitemHoverIconColor:$textColor;
$menuitemHoverBgColor:#eaeaea;
$menuitemActiveTextColor:$textColor;
$menuitemActiveIconColor:$textColor;
$menuitemActiveBgColor:#eaeaea;
$submenuHeaderMargin: 0;
$submenuPadding: 0;
$overlayMenuBorder:0 none;
$overlayMenuShadow:0 0 6px 0 rgba(0, 0, 0, 0.16);

//misc
$maskBgColor:rgba(0, 0, 0, 0.4);
$inlineSpacing:.429em;
$chipsItemMargin:0 .286em 0 0;
$dataIconColor:$textSecondaryColor;
$dataIconHoverColor:$textColor;

//dialog
$dialogHeaderPadding:1em;
$confirmDialogPadding:1.5em;

//card
$cardShadow:0 0 6px 0 rgba(0, 0, 0, 0.16);

//toast
$toastShadow:0 3px .429em 0 rgba(0, 0, 0, 0.16);
$toastMessageMargin:0 0 1em 0;

//general
$disabledOpacity:.5;

//carousel
$carouselNavButtonsBgColor: $buttonBgColor;
$carouselNavButtonsBorder: $buttonBorder;
$carouselNavButtonsBorderRadius: 2px;
$carouselNavButtonsMargin: .2em;
$carouselNavButtonsColor: $buttonTextColor;
$carouselNavButtonsHoverBgColor: $buttonHoverBgColor;
$carouselNavButtonsHoverColor: $buttonHoverTextColor;
$carouselNavButtonsHoverBorderColor: $buttonHoverBorderColor;
$carouselNavButtonsTransition: color $transitionDuration;
$carouselDotIconWidth: 20px;
$carouselDotIconHeight: 6px;
$carouselDotIconBgColor: #b2c1cd;
$carouselDotIconMargin: 0 .2em;
$carouselActiveDotIconBgColor: $primaryColor;
</code>
</pre>
</div>

            <h1>Menu Modes</h1>
            <p>Menu has 4 modes, static, overlay, slim and horizontal. Layout container element in app.component.html is used to define which mode to use by adding specific classes. List
            below indicates the style classes for each mode. </p>
            <ul>
                <li>Static: "layout-wrapper layout-static"</li>
                <li>Overlay: "layout-wrapper layout-overlay"</li>
                <li>Slim: "layout-wrapper layout-slim"</li>
                <li>Horizontal: "layout-wrapper layout-horizontal"</li>
            </ul>

            <p>For example to create a horizontal menu, the div element should be in following form;</p>
<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper layout-horizontal"&gt;
</code>
</pre>

            <p>It is also possible to leave the choice to the user by keeping the preference at a component and using an ngClass expression so that user can switch between modes. Sample
                    application has an example implementation of such use case. Refer to app.component.ts for an example.</p>

            <h1>Menu Colors</h1>
            <p>Menu offers two color options, "light" and "dark" which is defined using the main container element.</p>
            <ul>
                <li>Light: "layout-wrapper layout-menu-light"</li>
                <li>Dark: "layout-wrapper layout-menu-dark"</li>
            </ul>

            <h1>TopBar Colors</h1>
            <p>Olympia provides 10 built-in color alternatives for the topbar, default is the light mode where adding a style class to the "layout-wrapper" element such as "layout-topbar-dark" enables the dark option.</p>

<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper layout-topbar-dark"&gt;
...
&lt;/div&gt;
</code>
</pre>
            <p>The full list of alternatives are;</p>
            <ul>
                <li>layout-topbar-light</li>
                <li>layout-topbar-dark</li>
                <li>layout-topbar-bluegrey</li>
                <li>layout-topbar-purple</li>
                <li>layout-topbar-cyan</li>
                <li>layout-topbar-pink</li>
                <li>layout-topbar-teal</li>
                <li>layout-topbar-yellow</li>
                <li>layout-topbar-lime</li>
                <li>layout-topbar-green</li>
            </ul>

            <h1>Grid CSS</h1>
            <p>Olympia uses PrimeNG Grid CSS (ui-g-*) throughout the demos such as Dashboard, however any Grid library can be used with it since Olympia itself does not depend on Grid CSS.</p>

            <h1>Customizing Styles</h1>
            <p>It is suggested to add your customizations in the following sass files under the override folder instead of adding them to the
                scss files under sass folder to avoid maintenance issues after an update.</p>

            <ul>
                <li><b>_layout_variables</b>: Variables of the layout.</li>
                <li><b>_layout_styles</b>: Styles for the layout.</li>
                <li><b>_theme_variables</b>: Variables of the theme.</li>
                <li><b>_theme_styles</b>: Styles for the theme.</li>
            </ul>

            <h1>Migration Guide</h1>
            <h4>9.0.0 to 9.0.1</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>8.0.0 to 9.0.0</h4>
            <p>Angular 9 and PrimeNG 9</p>
            <ul>
                <li>Update dependencies with <a href="https://angular.io/cli/update">ng update</a>.</li>
                <li>Update theme.css and layout.css files.</li>
                <li>Update app.menu.component.ts and app.menu.component.html while retaining your MenuModel.</li>
                <li>Include app.menuitem.component.ts under app folder and define it app.module.ts with declarations property.</li>
                <li>Include app.menu.service.ts under app folder and define it app.module.ts with providers property.</li>
            </ul>

            <h4>7.0.0 to 8.0.0</h4>
            <ul>
                <li>Update your project to Angular 8 with ng update. View the official update guide -<a href="https://update.angular.io/">https://update.angular.io/</a>- for more information.</li>
                <li>Update app.menu.component.ts.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>1.0.0 to 7.0.0</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>
        </div>
    </div>
</div>
