<div class="ui-g">
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <h1>ProgressBar</h1>
            <p-progressBar [value]="value" [showValue]="false"></p-progressBar>
        </div>
        <div class="card">
            <h1>Terminal</h1>
            <p-terminal [response]="response" welcomeMessage="Welcome to Olympia" prompt="primeng $"></p-terminal>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <h1>Galleria</h1>
            <p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>
        </div>
    </div>
</div>
