<p-fileUpload (uploadHandler)="upload($event)" [customUpload]="true" [disabled]="disabled || (imageLoading | async)"
              [maxFileSize]="maxFileSize" [multiple]="multiple" accept="image/*">
    <ng-template pTemplate="content">
        <ng-content></ng-content>
        <p-progressBar *ngIf="imageLoading | async"
                       [style]="{ position: 'absolute', bottom: '0', left: '0', right: '0', height: '3px' }"
                       mode="indeterminate"></p-progressBar>
    </ng-template>
</p-fileUpload>
