<p-menu [model]="menuItems"></p-menu>
<p-table [value]="tableItems" *ngIf="tableItems.length > 0">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of tableCols">{{col.label}}</th>
        </tr>
    </ng-template>
    <ng-template let-rowData pTemplate="body">
        <tr [routerLink]="rowData.routerLink + rowData.id">
            <td *ngFor="let col of tableCols">{{rowData[col.label]}}</td>
        </tr>
    </ng-template>
</p-table>
