<a (click)="itemClick($event)" (keydown.enter)="itemClick($event)" (mouseenter)="onMouseEnter()"
   *ngIf="!item.routerLink || item.items" [attr.href]="item.url"
   [attr.tabindex]="0" [attr.target]="item.target" [ngClass]="item.styleClass">
    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
    <span class="layout-menuitem-text">{{item.label}}</span>
    <i *ngIf="item.items" class="fa fa-fw fa-angle-down layout-submenu-toggler"></i>
    <span *ngIf="item.badge" class="menuitem-badge">{{item.badge}}</span>
</a>
<a (click)="itemClick($event)" (mouseenter)="onMouseEnter()" *ngIf="item.routerLink && !item.items"
   [attr.tabindex]="0" [attr.target]="item.target" [ngClass]="item.styleClass"
   [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.routerLink"
   routerLinkActive="active-menuitem-routerlink">
    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
    <span class="layout-menuitem-text">{{item.label}}</span>
    <i *ngIf="item.items" class="fa fa-fw fa-angle-down layout-submenu-toggler"></i>
    <span *ngIf="item.badge" class="menuitem-badge">{{item.badge}}</span>
</a>
<div class="layout-menu-tooltip">
    <div class="layout-menu-tooltip-arrow"></div>
    <div class="layout-menu-tooltip-text">{{item.label}}</div>
</div>
<ul *ngIf="item.items && active"
    [@children]="((app.isHorizontal() || app.isSlim()) && root) ? (active ? 'visible' : 'hidden') :
                (active ? 'visibleAnimated' : 'hiddenAnimated')">
    <ng-template [ngForOf]="item.items" let-child let-i="index" ngFor>
        <li [class]="child.badgeClass" [index]="i" [item]="child" [parentKey]="key" app-menuitem></li>
    </ng-template>
</ul>
